.footer{
  background-color: #000;
}
.h {
  font-size: 30px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button1 {
  border-style: solid;
  border-radius: 0px;
  justify-content: space-between;
}
.btns{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgb(53, 53, 53);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.footer-btns{
  text-align: center;
  color: white;
  margin: 20px 8px 0px 9px ;
  justify-content: space-evenly;
}
