.h {
  font-weight: bold;
  color: rgb(156, 152, 152)
 
 
}
.img{
  width: 300px;
 position:static
}
  
.p {
  font-size: 14px;
  color:white;
}
.button {
  border-radius: 50px;
}
.h1 {
  font-size: 20px;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .gfg-div {
    display: flex;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gfg-div {
    display: flex;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .gfg-div {
    display: flex;
    flex-wrap: wrap;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .gfg-div {
    display: flex;
    flex-wrap: wrap;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    display: flex;
    flex-wrap: wrap;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    display: flex;
    flex-wrap: wrap;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    display: flex;
    flex-wrap: wrap;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    display: flex;
    flex-wrap: wrap;
  }
}
