.line{
    font-style: bold;
    font-size: 20px;
}
.h{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 27px;
}
.h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    padding-left: 15px;
}
.h2{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 25px;
    
}
.h3{
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 30px;
}
.p{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
