body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-dropdown-main {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  background-color: black;
  color: #fff;
  width: fit-content;
  padding: 10px;
  z-index: 1;
}

.dropdown-content p {
  cursor: pointer;
}

.hover-dropdown-main:hover .dropdown-content {
  display: block;
}
